header {
  background-color: #6f6f6f;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 40px;
  height: 120px;
}

.logo-container img {
  height: 120px;
  width: auto;
}

.site-title {
  color: rgb(0, 0, 0);
  margin: 0;
  text-align: left;
  flex-grow: 1; 
}

.site-title a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.icon-container {
  display: flex;
  gap: 20px;
}

.icon-container img {
  height: 50px;
  width: auto;
}

.kite-one-regular {
  font-family: "Kite One", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.mission-container {
  background-color: #6f6f6f;
  display: flex;
  flex-direction: column;      
  align-items: center;         
  justify-content: center;    
  text-align: center;         
  margin: 40px auto;          
  padding: 40px;
  width: 60%;                
  border-radius: 10px;       
  color: rgb(0, 0, 0);               
}
