body{
  background-color: rgb(234, 243, 247);
  margin: 0;
  padding: 0;
}

header {
  background-color: #8ed8e4;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 40px;
  height: 120px;
}

.logo-container img {
  height: 120px;
  width: auto;
}

.site-title {
  color: rgb(0, 0, 0);
  margin: 0;
  text-align: left;
  flex-grow: 1; 
}

.site-title a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.icon-container {
  display: flex;
  gap: 20px;
}

.icon-container img {
  height: 50px;
  width: auto;
}

.icon-container img:hover {
transform: scale(1.2);   /* grow 20% on hover */
  cursor: pointer;
}

.kite-one-regular {
  font-family: "Kite One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.default-font{
  font-family: sans-serif;
}

.info-containers {
  font-size: 20px; 
  position: relative;
  background-color: #b2e6ee;
  display: flex;
  flex-direction: column;      
  align-items: center;         
  justify-content: center;    
  text-align: center;         
  margin: 40px auto;          
  padding: 30px;
  width: 60%;                
  border-radius: 10px;       
  color: rgb(0, 0, 0);               
}

.info-containers img{
  height: 300px;
  width:  auto;
}

.button-container{
  margin: 30px auto;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center; 
}

.button-labels{
  text-align: center;  
  display: flex;
  justify-content: center; 
  gap: 70px;  
}

.buttons img {
  height: 60px;
  width: auto;
}

.buttons img:hover {
  transform: scale(1.2);   /* grow 20% on hover */
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 120px;   /* even spacing between icons */
}
